<br />
<br />


<div class="part hidden" id="co2Data" style="border-top: 0">
    <div class="container text-center">
        <center>
            <h3>Bubble Chart for CO2 visualization</h3>
            <h6>Please select year from the Dropdown</h6>
            <select ng-model='selectedYear' ng-options='x for x in yearsInCO2' ng-click='optionSelected();'>
      </select>
        </center>

    </div>
    <input type='radio' ng-model='type' value='Country' ng-click='selectionChanged()'>Country
    &nbsp; <input type='radio' ng-model='type' value='Area' ng-click='selectionChanged()'> Source
    <br />
    <h5> {{selectedYear}} Country-wise CO2 Data Visualization</h5>
    <bubble-chart>
        <div id='bubbleChart' class="col-xs-6"></div>
    </bubble-chart>

</div>

<div class="content-section-c">
    <div class="container">
        <p style="color:white; font-size: 20px">
            Now let us see Param's Forest
            <br><br>
            <strong>Next: Forest Data</strong>
            <a class="btn btn-danger" type="button" ng-click="openForestChart()">Next page</a>
        </p>
        <br /><br />
    </div>
</div>
