<br />
<br />
<div class="part hidden" id="pollutionIndex" class="content-section-b" style="border-top: 0">
	<div class="container">
		<style>
		.cities {
  fill: none;
  stroke: #aaa;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

.city--hover {
  stroke: #000;
}

.focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}
		</style>
		<pollution-index>

			<div class="col-sm-6">
				<br>
				<br>

				<svg width="960" height="500"></svg>

				<p class="captionRight"><em>Data: The World Bank</em></p>

				<div class="row">
					<div class="col-sm-4 text-center">
						<button class="btn btn-block btn-info" id="but1">Global Statistics</button>
					</div>
					<div class="col-sm-3 text-center">
						<button class="btn btn-block btn-danger" id="btn-all-cities-reset">Reset Lines</button>
					</div>

					<div class="col-sm-5">
						<form>
							<input type="text" class="form-control typeahead" id="intro-country" placeholder="Look for countries">
						</form>
					</div>
				</div>
				<br>
				<br>
				<br>
			</div>
			</pollution-index>


	</div>
</div>
