<!-- What is -->
<br />
<br />
<div class="container">
	<div class="text-center input-group">
		<input type="text" ng-model="chosenPlace" class="form-control" placeholder="Your City" cities>
		<span class="input-group-btn">
					<button class="btn btn-primary" type="button" ng-click="populateCityDetails()">Check</button>
				</span>
	</div>
</div>
<br />
<br />
<br />

<div class="part hidden" id="weather" class="content-section-b" style="border-top: 0">
	<div class="container">

		<div class="col-md-6 col-md-offset-3 text-center wrap_title">
			<h2>Weather details</h2>
			<p class="lead" style="margin-top:0">{{city}} Weather is displayed in degree celcius by default</p>

			<div class="pull-left">
				<label>&#8451;</label>
				<input type="radio" ng-model="temperature" value="C" checked>
				<label>&#8457;</label>
				<input type="radio" ng-model="temperature" value="F" />
			</div>

			<current-weather>
					Temperature = <p id="temp"></p>
					Pressure = <p id="pressure"></p>
					Humidity = <p id="humidity"></p> %
					Mininum Temperature = <p id="temp_min"></p>
					Mininum Temperature = <p id="temp_max"></p>
					Overall = <p id="main"></p>
					<p id="desc" class="hidden"></p>
			</current-weather>

			<weather-visualization data='{{data}}'>
				<div id="weatherDetail" class="">
				</div>
			</weather-visualization>

			<button class="btn btn-danger" type="button" ng-click="openPollutionIndex()">Next page</button>

		</div>

	</div>
</div>
