<br />
<br />
<div class="content-section-c">
    <div class="container">
        <p style="color:white; font-size: 20px">
            We would start from a city of the user’s choice so they can get information about climate change and pollution level in their city.
            <br><br>
            <strong>Next: Weather</strong></p>
        <div class="text-center input-group">
            <input type="text" ng-model="chosenPlace" class="form-control" placeholder="Your City" cities>
            <span class="input-group-btn">
					<button class="btn btn-primary" type="button" ng-click="populateCityDetails(); "
                            style="background: #e74c3c;color: #ecf0f1;">Weather</button>
				</span>
        </div>
    </div>
</div>
<br />
<br />
<br />

<div class="part hidden" id="weather" style="border-top: 0">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>Weather</h2>
            <p class="lead" style="margin-top:0">
                <h3 style="color:#00868B">{{city}}</h3>
                <br>Weather is displayed in &#8451; by default
            </p>

        </div>
        <div class="col-sm-6 pull-left wow fadeInRightBig">
            <current-weather>
                <div class="row">

                    <div class="col-sm-4 wow fadeInDown text-center">
                        <img class="rotate" src="/img//icon//temperature.svg" alt="Generic placeholder image">
                        <h3>Temperature</h3>
                        <p id="temp" class="lead"></p>
                    </div>
                    <!-- /.col-lg-4 -->

                    <div class="col-sm-4 wow fadeInDown text-center">
                        <img class="rotate" src="img/icon/pressure.svg" alt="Generic placeholder image">
                        <h3>Pressure</h3>
                        <p id="pressure" class="lead"></p>
                    </div>
                    <div class="col-sm-4 wow fadeInDown text-center">
                        <img class="rotate" src="img/icon/humidity.svg" alt="Generic placeholder image">
                        <h3> Humidity</h3>
                        <p id="humidity" class="lead"></p>
                    </div>
                </div>
                <div class="row tworow">

                    <div class="col-sm-4 wow fadeInDown text-center">
                        <img class="rotate" src="img/icon/minTemperature.svg" alt="Generic placeholder image">
                        <h3>Minimum Temperature</h3>
                        <p id="temp_min" class="lead"></p>
                    </div>
                    <!-- /.col-lg-4 -->

			<button class="btn btn-danger" type="button" ng-click="openPollutionIndex()">Next page</button>
                    <div class="col-sm-4 wow fadeInDown text-center">
                        <img class="rotate" src="/img/icon/maxTemperature.svg" alt="Generic placeholder image">
                        <h3>Maximium Temperature</h3>
                        <p id="temp_max" class="lead"></p>
                    </div>
                    <div class="col-sm-4 wow fadeInDown text-center">
                        <img class="rotate" src="img/icon/retina.svg" alt="Generic placeholder image">
                        <h3> Wind</h3>
                        <p id="humidity" class="lead"></p>
                    </div>
                </div>
            </current-weather>

        </div>
        <div class="col-sm-6 pull-left wow fadeInLeftBig">
            <style>
                .toggle-btn-grp {
                    margin: 3px 0;
                }

                .toggle-btn {
                    text-align: centre;
                    margin: 5px 2px;
                    padding: 0.4em 3em;
                    color: #000;
                    background-color: #FFF;
                    border-radius: 10px;
                    display: inline-block;
                    border: solid 1px #CCC;
                    cursor: pointer;
                }

                .toggle-btn-grp.joint-toggle .toggle-btn {
                    margin: 5px 0;
                    padding: 0.4em 2em;
                    border-radius: 0;
                    border-right-color: white;
                }

                .toggle-btn-grp.joint-toggle .toggle-btn:first-child {
                    margin-left: 2px;
                    border-radius: 10px 0px 0px 10px;
                }

                .toggle-btn-grp.joint-toggle .toggle-btn:last-child {
                    margin-right: 2px;
                    border-radius: 0px 10px 10px 0px;
                    border-right: solid 1px #CCC;
                }

                .toggle-btn:hover {
                    border: solid 1px #a0d5dc !important;
                    background: #f1fdfe;
                }

                .toggle-btn.success {
                    background: lightgreen;
                    border: solid 1px green !important;
                }

                .visuallyhidden {
                    border: 0;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }

                .visuallyhidden.focusable:active,
                .visuallyhidden.focusable:focus {
                    clip: auto;
                    height: auto;
                    margin: 0;
                    overflow: visible;
                    position: static;
                    width: auto;
                }
                /* CSS only version */

                .toggle-btn-grp.cssonly * {
                    width: 140px;
                    height: 30px;
                    line-height: 30px;
                }

                .toggle-btn-grp.cssonly div {
                    display: inline-block;
                    position: relative;
                    margin: 5px 2px;
                }

                .toggle-btn-grp.cssonly div label {
                    position: absolute;
                    z-index: 0;
                    padding: 0;
                    text-align: center;
                }

                .toggle-btn-grp.cssonly div input {
                    position: absolute;
                    z-index: 1;
                    cursor: pointer;
                    opacity: 0;
                }

                .toggle-btn-grp.cssonly div:hover label {
                    border: solid 1px #a0d5dc !important;
                    background: #f1fdfe;
                }

                .toggle-btn-grp.cssonly div input:checked+label {
                    background: lightgreen;
                    border: solid 1px green !important;
                }

            </style>
            <div class="toggle-btn-grp joint-toggle">
                <label onclick="" class="toggle-btn success">
                <input type="radio" name="group3" ng-model="temperature" value="C" checked="checked">&#8451;</label><label onclick="" class="toggle-btn">
                <input type="radio" ng-model="temperature" value="F" name="group3"/>&#8457;</label>
            </div>

            <weather-visualization data='{{data}}'>
                <div id="weatherDetail" class="">
                </div>
            </weather-visualization>
        </div>

    </div>
    <br><br>
    <div class="content-section-c">
        <div class="container">
            <p style="color:white; font-size: 20px">
                We would start from a city of the user’s choice so they can get information about climate change and pollution level in their city.
                <br><br>
                <strong>Next: Pollution Index</strong></p>
            <button class="btn btn-danger" type="button" ng-click="">Next page</button>
        </div>
    </div>
</div>
</div>
<script>
    $(".toggle-btn:not('.noscript') input[type=radio]").addClass("visuallyhidden");
    $(".toggle-btn:not('.noscript') input[type=radio]").change(function() {
        if ($(this).attr("name")) {
            $(this).parent().addClass("success").siblings().removeClass("success")
        } else {
            $(this).parent().toggleClass("success");
        }
    });

</script>
<script src="js/jquery.magnific-popup.js"></script>
